<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Título</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <!-- Barra de navegação ou cabeçalho com links para as páginas do site -->
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- O conteúdo específico da página será inserido automaticamente aqui -->
        <%- body %>
    </main>

    <footer>
        <!-- Rodapé com informações adicionais -->
        <p>footeerrrr</p>
    </footer>
</body>
</html>
